.left-panel {
    display: flex;
    flex-direction: column;
    max-width: 150px;
}

.canvas{
    height: 700px;
    width: 700px;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    padding: 2px;
}

.cell {
    box-sizing: border-box;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    height: 50px;
    width: 50px;
}

.cell-left {
    box-sizing: border-box;
    border-left: 1px solid gray;
}

.cell-bottom {
    box-sizing: border-box;
    border-bottom: 1px solid gray;
}
